### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/.idea/
/coffee_machine_status.txt
/HITA2023_CoffeeMachine_copy.iml
/HITA2023_CoffeeMachine.iml
/CoffeeMachine_1.0.iml
/HITA2023_CoffeeMachine**.iml
/banksystem.h2.mv.db
/banksystem.h2.trace.db
/coffeemachine.h2.mv.db
/coffeemachine.h2.trace.db
